NODE_ENV=development
PORT=3000
MAX_REQUEST_SIZE=10mb

PREFIX_API=/api
LOG_FILE_PATH=logs/all.log
ACCCESS_LOG_FILE_PATH=logs/access.log

DB_NAME=IPPL
DB_PORT=27017
DB_HOST=mongodb
DB_USERNAME=root
DB_PASSWORD=password

JWT_SECRET=7b73773e34687060beef33f7691d9bf76ec5198ae38c8fee092b1c73b3d33402
JWT_EXPIRES_IN=1d
S3_BUCKET=staging
S3_ENDPOINT=http://127.0.0.1:9000
S3_USER=root
S3_PASSWORD=password
S3_ACCESS_KEY_ID=access
S3_ACCESS_SECRET_KEY=secret

GPT_API_KEY=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
