api.ippl.michaelpege.site {
  reverse_proxy api-server:3000
}

minio.ippl.michaelpege.site {
  reverse_proxy /minio localhost:9000

  route /minio* {
      uri strip_prefix /minio
      reverse_proxy localhost:9001
  }
}

db.ippl.michaelpege.site {
  reverse_proxy mongo-express:8081
}