api.ippl.michaelpege.site {
  reverse_proxy api-server:3000
}

minio.ippl.michaelpege.site {
  reverse_proxy minio:9001
}

db.ippl.michaelpege.site {
  reverse_proxy mongo-express:3000
}

s3.ippl.michaelpege.site {
  reverse_proxy minio:9000
}